#wrapper{
	width:80%;
	margin:0 auto;
}

#big_image{
	border:1px solid black;
	border-radius: 10px;
	height:400px;
	margin-bottom: 15px;
	text-align: center;
}

#big_image img{
	height:100%;
}

ul{
	padding:0;
	margin:0;
	list-style-type: none;
	text-align: center;
}

ul li{
	display: inline-block;
}

ul li img{
	width:150px;
	padding:5px;
	border:1px solid #CCCCCC;
	border-radius: 4px;
}